/* Start Global Variables */
:root {
    --main-color: #2196F3;
    --main-color--alt: #1787e0;
}
/* End Global Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Cairo', sans-serif;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */

  /* start header */
  .header  {
    background: #ffffff;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    }

  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }

  .header .container ul  a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 25px 30px;
    position: relative;
    transition: 0.3s;
  }

  @media (max-width: 768px) {
    .header .container {
      justify-content: center;
      flex-direction: column;
    }
    .header .container ul  a {
      padding: 15px 10px;
      font-size: 15px;
    }
    .logo {
    margin: 15px 0;
    }
  }

  .header .container ul,
  .header .container ul li {
    display: flex;
  }

  .logo {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
  }

  .header ul .n-link:hover > a {
    background: #f8f5f5;
    color: var(--main-color);
  }

  .header  ul  .n-link > a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: var(--main-color);
    width: 0;
    transition: 0.3s;
  }

  .header  ul  .n-link:hover > a::before {
      width: 100%;
  }

  .header .mega-menu {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    width: 100%;
    background: #ffffff;
    justify-content: space-between;
    z-index: -1;
    transition: 0.3s;
    top: 105%;
    opacity: 0;
  }

  @media (max-width:768px) {
    .header .mega-menu {
      flex-direction: column;
      gap: 0;
      padding: 0;
      padding-left: 10px;
    }
    .header .mega-menu ul {
      width: 100%;
    }

    .header .mega-menu ul:first-of-type li:last-child::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: #d2d0d094;
    }
  }

  .header .other-links:hover  .mega-menu {
    animation: dmslide 0.4s 1 forwards alternate;
    opacity: 1;
    z-index: 1;
  }

  @keyframes dmslide {
    from {top: 175%; opacity: 0.2;}
    to {top: 102%; opacity: 1;}
  }

  .header .mega-menu img{
    max-width: 100%;
  }
  @media (max-width:991px) {
    .header .mega-menu .image {
      display: none;
    }
    .header .mega-menu {
      justify-content: space-between;
      align-items: center;
    }
    .header .mega-menu ul {
      flex: 1;
      flex-basis: 45%;
    }
  }
 

  .header .mega-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    background: var(--main-color--alt);
    height: 3px;
    bottom: 0;
    left: 0;
  }

  .header .mega-menu ul {
    flex-direction: column;
    flex-basis: 250px;
    position: relative;
  }

  .header .mega-menu ul li {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
  }

  .header .mega-menu ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: #d2d0d094;
  }

  .header .mega-menu ul li::before {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: #eeeeee7e;
    z-index: -1;
    transition: 0.3s;
  }

  .header .mega-menu ul li:hover::before {
    width: 100%;
  }

  .header .mega-menu ul a {
    padding: 15px 20px;
    transition: 0.3s;
    font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
    flex: 1;
  }

  .header .mega-menu ul i {
    color: var(--main-color);
    font-size: 18px;
    margin-left: 10px;
  }
  
  /* end header */

  /* start landing */

  .landing {
    padding: 120px 0;
    position: relative;
  }

  .landing::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 113%;
    background: #eee;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
  }

  .landing .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 100px 0;
  }

  .landing .container img {
    width: 600px;
    position: relative;
    animation: upanddown 2s linear infinite alternate;
    transition: 0.3s;
  }


  .landing .container .text {
    width: 500px;
  }

  .landing .container .text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: -1px;
  }

  .landing .container .text p {
    font-size: 23px;
    line-height: 1.6;
    color:#575555
  }

  @media (max-width:991px) {
    .landing .container img {
      display: none;
    }

    .landing .container .text {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .landing .container {
      text-align: center;
      justify-content: center;
    }
    .landing .container .text h2 {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .landing .container .text p {
      font-size: 18px;
      width: 300px;
    }
  }

  @keyframes upanddown {
    from {transform:translateY(0px);}
    to {transform:translateY(-20px);}
  }

  .landing  i {
    animation: bounce 0.6s infinite linear;
    color: var(--main-color);
    position: absolute;
    /* top: 95%; */
    bottom: -75px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
  }

  .landing i:hover {
    color: var(--main-color--alt);
    cursor: pointer;
  }

  @keyframes bounce {
    0%,10%,20%,30%,70%,80%,90%,100% { transform: translateY(0px); }
    40% , 45%,60% {transform: translateY(-8px);}
  }

  /* end landing */

  /* Start Articles */

  .articles {
    padding: 100px 0;
  }

  .special  {
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    width: fit-content;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    margin: 80px auto;
  }

  .special:hover {
    color: white;
    /* animation: bordergone 1s 0.5s 1 forwards; */
    border: 2px white solid;
    transition-delay: 0.7s;
  }

  @keyframes bordergone {
    from {border: 2px solid rgb(0, 0, 0);}
    to {border: 2px solid white;}
  }

  .special::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -18%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--main-color);
  }

  .special:hover:before {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: -1;
  }

  .special::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -18%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--main-color);
  }

  .special:hover::after {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: -1;
  }

  .articles .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
  }

  .articles .box img {
    max-width: 100%;
  }

  .articles .box {
    height: fit-content;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #ddd;
    transition: 0.4s;
    overflow: hidden;
    position: relative;
  }

  .articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px #d1d1d1;
  }

  .articles .box:hover i {
    animation: rightandleft 2s infinite alternate;
  }

  .articles .box .content {
    padding: 20px;
  }

  .articles .box .content h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .articles .box .content p {
    color: #777;
    line-height: 1.4;
  }

  .articles .box .info {
    display: flex;
    justify-content: space-between;
    padding: 20px 18px;
    border-top: 1px solid #77777735;
  }

  .articles .box .info h4,
  .articles .box .info i {
    color: var(--main-color);
    cursor: pointer;
    font-weight: bold;
    position: relative;
  }


  @keyframes rightandleft {
    0%,10%,20%,30%,50%,70%,80%,90%,100% {left: 0;}
    40%,60% {left: 5px;}
  }
  /* End Articles */  

.spikes {
    position: relative;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
  
  /* Start Gallery */

  .gallery {
    background: #eee;
    padding: 10px 0 100px 0;
    position: relative;
    z-index: 0;
  }

  .gallery .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
  }

  .gallery .container .box {
    background: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    }

  .gallery .container .box-cont {
    position: relative;
    overflow: hidden;
  }

  .gallery .container .box-cont::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    transition: 0.3s;

  }

  .gallery .container .box-cont:hover img {
    transform: rotate(5deg) scale(1.1);
  }

  .gallery .container .box-cont:hover::before {
    animation: flash 0.5s 1;
    background: #d8d6d6bc;
    z-index: 1;
  }

  .gallery .container .box img {
    max-width: 100%;
    transition: 0.3s;
  }

  @keyframes flash {
    0% {width: 0; height: 0;}
    50% {width: 100%; height: 100%;}
    100% {opacity: 0;}
  }

  /* End Gallery */

  /* Start Features */

  .features {
    background: white;
    padding: 0 0 60px 0;
    z-index: 0;
    position: relative;
  }

  .features .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 41px;
  }

  .features .container .box {
    position: relative;
    border: 1px solid rgba(198, 195, 195, 0.826);

  }

  .features .container .box img {
    max-width: 100%;
    position: relative;
  }

  .features .container .box .image {
    position: relative;
    height: fit-content;
    z-index: -1;
  }

  .features .container .box:nth-child(1) .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 16, 16, 0.45);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .features .container .box:nth-child(2) .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(11, 147, 88, 0.45);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .features .container .box:nth-child(3) .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(20, 121, 253, 0.529);
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .features .box h2 {
    text-align: center;
    padding: 15px 0;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
  }

  .features .box:nth-child(1) h2::before {
    content: "";
    position: absolute;
    width: 23%;
    height: 5px;
    border-radius: 5px;
    background: rgba(255, 16, 16, 0.7);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .features .box:nth-child(2) h2::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 5px;
    border-radius: 5px;
    background: rgba(11, 147, 88, 0.45);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .features .box:nth-child(3) h2::before {
    content: "";
    position: absolute;
    width: 25%;
    height: 5px;
    border-radius: 5px;
    background: rgba(20, 121, 253, 0.529);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .features .box p {
    line-height: 2;
    width: 85%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #777;
    position: relative;
  }

  .features .box:nth-child(1) a {
    color: rgba(255, 16, 16, 0.7);
    border: 3px solid rgba(255, 16, 16, 0.7);
  }
  .features .box:nth-child(2) a {
    color: rgba(11, 147, 88, 0.45);
    border: 3px solid rgba(11, 147, 88, 0.45);
  }
  .features .box:nth-child(3) a {
    color: rgba(20, 121, 253, 0.529);
    border: 3px solid rgba(20, 121, 253, 0.529);
  }

  .features .link {
    padding: 45px 0 25px 0;
    display: flex;
    justify-content: center;
  }

  .features .link a {
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    width: fit-content;
    position: relative;
    transition: 0.5s;
    overflow: hidden;
  }

  .features .box .content {
    position: relative;
  }

  .features .box .content::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 0px;
    width: 100%;
    height: 330px;
    background: rgb(255, 255, 255);
    transform: skewY(-25deg);
    transition: 0.3s;
  }

  .features .box:hover .content::before {
    transform: skewY(25deg);
  }

  .features .box:hover a {
    color: rgb(255, 255, 255);
  }

  .features .link a::before {
    content: "";
    height: 100%;
    width: 0;
    position: absolute;
    transition: 0.4s;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .features .box:nth-child(1):hover  a::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 16, 16, 0.785);
    z-index: -1;
  }

  .features .box:nth-child(2):hover  a::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(11, 147, 88, 0.45);
    z-index: -1;
  }

  .features .box:nth-child(3):hover  a::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(20, 121, 253, 0.529);
    z-index: -1;
  }

  /* End Features */

  /* Start TESTIMONIALS */

  .testimonials {
    background: #eee;
    padding: 1px 0 80px 0;
    position: relative;
    z-index: 0;
  }

  .testimonials .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
    gap: 40px;
  }

  .testimonials .container .box {
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    background: white;
    border-radius: 10px;
    padding: 20px;
  }

  .testimonials .container .box img{
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    right: -10px;
    border: 8px solid #eee;
  }

  .testimonials .container .box .info {
    margin-bottom: 10px;
  }

  .testimonials .container .box .info h4 {
    font-size: 18px;
  }

  .testimonials .container .box .info p {
    margin: 10px 0;
    color: #777;
  }

  .testimonials .container .box .info .stars i.filled {
   color: gold; 
  }

  .testimonials .container .box .desc {
    color: #777;
    line-height: 1.4;
  }

  /* End TESTIMONIALS */

  /* Start Team Members */

  .team {
    padding: 1px 0 100px 0;
  }

  .team .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
  }

  .team .container .box {
    position: relative;
    border-radius: 10px;
    cursor: pointer;
  }

  .team .container .box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 60px);
    background: #eee;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
  }

  .team .container .box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    z-index: -1;
    transition: 0.5s;
  }

  .team .container .box:hover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 60px);
    background: #b0b0b06a;
    height: 100%;
    border-radius: 10px;
  }
  
  .team .container .box:hover img {
    filter: grayscale(100%);
  }

  .team .container .box .upper {
    display: flex;
    align-items: center;
    padding-top: 60px;
    gap: 20px;
  }

  .team .container .box .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .team .container .box .text {
    margin: 20px 0 ;
    padding-left: 80px;

  }

  .team .container .box .text h3 {
    color: var(--main-color);
    margin-bottom: 10px;
  }

  .team .container .box .upper i {
    color: #777;
    transition: 0.3s;
  }

  .team .container .box .upper i:hover {
    color: var(--main-color);
  }

  .team .container .box img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: 0.5s;
  }

  /* End Team Members */

  /* Start services */

  .services {
    background: #eee;
    z-index: 0;
    position: relative;
    padding: 5px 0 90px 0;
  }

  .services .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
    gap: 40px;
  }

  .services .boxes .box {
    background: white;
    position: relative;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: 0.3s;
  }

  .services .boxes .box:hover {
    transform: translateY(-10px);
  }

  .services .boxes .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--main-color--alt);
    width: 0;
    height: 2px;
    transition: 0.3s;
  }

  .services .boxes .box:hover::before {
    width: 100%;
  }

  .services .boxes .box .upper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 5px;
  }

  .services .boxes .box .upper i{
    color: #d6d3d3c8;
    margin-bottom: 20px;
  }

  .services .boxes .box .upper h3{
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
    position: relative;
  }

  .services .boxes .box .down {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eeeeee61;
    overflow: hidden;
    position: relative;
  }

  .services .boxes .box .down a {
    text-decoration: none;
    color: var(--main-color);
  }

  .services .boxes .box .down h3 {
    position: relative;
    z-index: 1;
    font-size: 30px;
    color: white;
  }

  .services .boxes .box .down h3::before {
    content: "";
    position: absolute;
    top: -100%;
    left: -200%;
    width: 320%;
    height:500%;
    background: var(--main-color);
    transform: skewX(-30deg);
    z-index: -1;
  }

  .services .boxes .box .down h3::after {
    content: "";
    position: absolute;
    top: -100%;
    left: -30%;
    width: 320%;
    height:500%;
    background: #d1d0d0a3;
    transform: skewX(-30deg);
    z-index: -2;
  }

  /* End services */

  /* Start Skills */

  .skills {
    position: relative;
    z-index: 0;
    padding-bottom: 100px;
  }

  .skills .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .skills .container .content .my-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    width: 100%;
  }

  .skills .container .my-skills .bar {
    height: 30px;
    background: #eee;
    position: relative;
  }
  .skills .container .my-skills .bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--main-color);
  }

  .skills .container .my-skills .bar80::before {
    width: 80%;
  }
  .skills .container .my-skills .bar85::before {
    width: 85%;
  }
  .skills .container .my-skills .bar90::before {
    width: 90%;
  }

  .skills .container .my-skills .bar::after {
    content: "";
    position: absolute;
    top: -40px;
    height: 20px;
    width: 30px;
    border-radius: 5px;
    border: 1px solid #0201012f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-color);
    font-size: 12px;
    font-weight: bold;
    left: calc(100% - 30px);
  }

  .skills .container .my-skills .bar80::after {
    content: "80%";
  }
  .skills .container .my-skills .bar85::after {
    content: "85%";
  }
  .skills .container .my-skills .bar90::after {
    content: "90%";
  }

  @media (max-width:991px) {
    .skills .container .content img {
      display: none;
    }
  }
  /* End Skills */

  /* Start works */

  .works {
    background: #eee;
    position: relative;
    z-index: 0;
    padding: 5px 0 100px 0;
  }

  .works .container .content {
    display: flex;
    align-items: center;
  }

  @media (max-width:1200px) {
    .works .container .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
  }

  .works .content .mainwork {
    max-width: 100%;
    margin-right: 100px;
  }

  @media (max-width:1200px) {
    .works .content .mainwork {
      margin: 0;
    }
  }

  .works .container .content .box  .image img {
    width:64px;
    margin-right: 30px;
    position: relative;
  }

  .works .container .content .boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .works .container .content .box {
    padding: 30px 20px;
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    background: #f7f2f2;
    align-items: center;
    position: relative;
  }

  .works .container .content .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    background: #eee;
    transition: 0.3s;
  }

  .works .container .content .box:hover::before {
    width: 100%;
    height: 100%;
  }

  .works .container .content .box .text h3 {
    margin-bottom: 10px;
    font-size: 24px;
    position: relative;
  }

  .works .container .content .box .text p {
    font-size: 18px;
    color: #777;
    line-height: 1.6;
    position: relative;
  }

  /* End works */

  /* Start Events */

  .events {
    position: relative;
    z-index: 0;
    padding: 40px 0;
  }


  .events .content {
    display: flex;
    align-items: center;
    padding: 60px 0;
  }

  @media (max-width:1200px) {
    .events .container .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }
  }

  .events .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
  }
  .events .units {
    display: flex;
    gap: 10px;
  }

  .events .unit {
    width: fit-content;
    border: 1px solid #bcbabab9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 30px 10px; */
    border-radius: 10px;
  }

  .events .unit span:first-child {
    padding: 15px 20px;
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
  }

  .events .unit span:last-child {
    padding: 10px;
    border-top: 2px solid #eee;
    font-size: 12px;
  }

  .events .text-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .events .text-cont h3 {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .events .text-cont p {
    line-height: 1.6;
    font-size: 20px;
    color: #777;
    max-width: 95%;
  }

  .events .image img {
    width: 800px;
    max-width: 100%;
  }

  .events .email {
    padding: 100px 0;
  } 

  .events .email form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    max-width: 100%;
  }

  .events .email form::before {
    content: "";
    position: absolute;
    width: 115%;
    height: 150%;
    background: #eeeeee89;
    border-radius: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  @media (max-width:767px) {
    .events .email form::before {
      top: 24px;
      width: 101%;
      height: 100%;
    }

  }

  .events .email form input[type="text"] {
    border-radius: 50px;
    width: 350px;
    padding: 18px;
    max-width: 100%;
    border: none;
    position: relative;
    /* max-width: 70%; */
  }

  @media (max-width:767px) {
    .events .email form input[type="text"] {
      border-radius: 50px;
    padding: 10px;
    border: none;
    position: relative;
    flex: 1;
    }
  }

  .events .email form input[type="text"]:focus {
    outline: none;
  }

  .events .email form input[type="submit"] {
    border-radius: 50px;
    padding: 18px;
    margin: 20px;
    background: var(--main-color);
    color: white;
    border: none;
    transition: 0.3s;
    font-weight: bold;
    position: relative;
    cursor: pointer;
  }

  @media (max-width:767px) {
    .events .email form input[type="submit"] {
      border-radius: 50px;
      padding: 10px;
      margin: 5px;
      background: var(--main-color);
      color: white;
      border: none;
      transition: 0.3s;
      font-weight: bold;
      position: relative;
      cursor: pointer;
    }
  }  

  .events .email form input[type="submit"]:hover {
    background: var(--main-color--alt);
  }

   .dots {
    width: 204px;
    height: 186px;
    background: url(../img/dots.png);
    background-size: cover;
    position: absolute;
  }

  @media (max-width:1200px) {
     .dots {
      display: none;
    }

  }

   .dots-up {
    right: 0px;
    top: 25%;
  }
   .dots-down {
    left: 0px;
    bottom: 15%;
  }

  /* End Events */
  /* Start Pricing */

  .pricing {
    background: #eee;
    position: relative;
    z-index: 0;
    padding: 1px 0 80px;
  }

  .pricing .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 30px;
  }

  .pricing .box {
    background: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: 0.3s;
    position: relative;
    text-align: center;
  }

  .pricing .box:nth-child(2) {
    transform: translateY(-20px);
  }

  .pricing .container .box .best{
    position: absolute;
    height: 140px;
    width: 40px;
    top: 0;
    right: 5%;
    z-index: 5;
    background: var(--main-color);
  }

  .pricing .container .box .best::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 115px;
    right: 0;
    background: rgb(255, 255, 255);
    width: 0px;
    height: 0px;
    border-color: var(--main-color) var(--main-color) white var(--main-color);
    border-width: 20px;
    border-style: solid;
  }

  .pricing .container .box .best::before {
    content: "Most Popular";
    z-index: 5;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    writing-mode: vertical-rl;
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .pricing .box .upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .pricing .box .upper  h3 {
    margin: 30px;
    font-size: 26px;
  }

  .pricing .box .upper  span {
    font-size: 65px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 20px;
    position: relative;
  }

  .pricing .box .upper  span::before {
    content: "Per Month";
    position: absolute;
    font-size: 16px;
    color: #777;
    bottom: -18px;
    font-weight: normal;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .pricing .upper img {
    max-width: 100%;
    width: 80px;
    margin: 15px 0 45px;
  }

  .pricing .box ul {
    margin: 10px 0;
    text-align: start;
  }

  .pricing .box ul li {
    padding: 20px 0 20px 50px;
    border-top: 1px solid #eee;
    position: relative;
  }

  .pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    left: 6%;
  }

  .pricing .box a {
    margin: 35px;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    z-index: 1;
  }

  .pricing .box a:hover {
    color: white;
    background: var(--main-color);
  }

  .pricing .box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 0;
    background: #dcdbdb2f;
    transition: 0.3s;
  }

  .pricing .box:hover::before {
    width: 100%;
  }

  .pricing .box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
    width: 0;
    background: #dcdbdb2f;
    transition: 0.3s;
  }

  .pricing .box:hover::after {
    width: 100%;
  }

  /* End Pricing  */

  /* Start Videos */

  .videos {
    position: relative;
    z-index: 0;
    padding: 0 0 80px 0;
  }

  .videos .container {
    display: flex;
  }

  @media (max-width:991px) {
    .videos .container {
      flex-direction: column;
    }
  }

  .videos .left {
    flex-basis: 30%;
    border: 1px solid #eee;
  }

  .videos .left .title {
    border: 1px solid #eeeeee9b;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    background: #eeeeeec8;
  }

  .videos .left .box {
    padding: 20px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    transition: 0.3s;
  }

  .videos .left .box:hover {
    background: #eeeeee66;
  }

  .videos .left .box:hover h5 {
    color: var(--main-color);
  }

  .videos .left .box h5 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
    transition: 0.3s;
  }

  .videos .left .box p {
    color: #777;
    font-size: 15px;
  }

  .videos .right {
    padding: 10px;
    background: #d2d2d2ae;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .videos .right .image img {
    max-width: 100%;
  }

  .videos .right .box {
    padding: 20px;
    background: white;
  }

  /* End Videos */

  /* Start Stats */

  .stats {
    position: relative;
    z-index: 0;
    background: url(../img/stats.jpg);
    background-size: cover;
    padding: 80px 0;
  }

  .stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .stats h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 60px 0;
    text-align: center;
  }

  .stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
  }

  .stats .container .box {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;
  }

  .stats .container .box::before,
  .stats .container .box::after  {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    transition: 0.5s;
    transition-timing-function: ease-out;
    background: var(--main-color--alt);
  }

  .stats .container .box::before {
    left: 0;
    bottom: 0;
  }

  .stats .container .box::after {
    right: 0;
    top: 0;
  }

  .stats .container .box:hover::before,
  .stats .container .box:hover::after {
    height: 100%;
  }

  .stats .container .box span:nth-child(2) {
    font-size: 50px;
    font-weight: bold;
  }

  .stats .container .box span:last-child {
    font-weight: bold;
    font-size: 20px;
    color: var(--main-color);
    font-style: italic;
  }
  /* End Stats */

  /* Start Discount */

  .discount {
    position: relative;
    z-index: 0;
    display: flex;
  }

  .discount .left {
    flex: 1;
    height: 100%;
    background: url(../img/discount-background1.jpg);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    padding: 220px 0;
  }

  .discount .left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1786e0fa;
  }

  .discount .left img {
    position: relative;
    max-width: 100%;
    width: 300px;
  }


  .discount .left h2 {
    position: relative;
    position: relative;
    font-size: 40px;
    color: white;
  }

  .discount .left p {
    position: relative;
    width: 500px;
    max-width: 95%;
    line-height: 1.6;
    color: white;
    font-size: 18px;
  }

  .discount .right {
    flex: 1;
    height: 100%;
    position: relative;
    padding: 220px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .discount .right h2 {
    font-size: 40px;
    text-align: center;
    margin-top: -15px;
  }

  .discount .right form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
  }

  @media (max-width:991px) {
    .discount {
      flex-direction: column;
    }
  }

  .discount .right form input,
  .discount .right form textarea {
    margin: 0 auto;
    padding: 15px;
    border: none;
    background: #eeeeee75;
    min-width: 32%;
    border-bottom: 1px solid #110f0f2d;
    resize: none;
  }

  @media (max-width:991px) {
    .discount .right form input,
  .discount .right form textarea {
    min-width: 60%;
  }
  }

  .discount .right form input:focus,
  .discount .right form textarea:focus {
    outline: none;
  }

  .discount .right form input:last-child {
    background: var(--main-color);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .discount .right form input:last-child:hover {
    background: var(--main-color--alt);
  }

  /* End Discount */

  /* Start Footer */

  .footer {
    position: relative;
    padding: 60px 0;
    background: #191919;
  }

  .footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    color: #b7b2b2;
  }

  .footer .container .box:nth-child(1) {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
  }

  .footer .container .box:nth-child(1) h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 5px;
  }

  .footer .container .box:nth-child(1) .social {
    display: flex;
    gap: 10px;
    width: 70%;
    height: 50px;
    /* align-items: center; */
    justify-content: space-evenly;
}
  

  .footer .container .box:nth-child(1) .social  a {
    color: #a9a5a5;
    background: #403f3f;
    font-size: 18px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s;
  }

  .footer .container .box:nth-child(1) .social  a:first-child:hover {
    background: #1787e0;
  }

  .footer .container .box:nth-child(1) .social  a:nth-child(2):hover {
    background: #2196F3;
  }

  .footer .container .box:nth-child(1) .social  a:last-child:hover {
    background: rgba(247, 17, 17, 0.794);
  }

  .footer .container .box:nth-child(1)  p{
    line-height: 2;
    font-size: 16px;
    color: rgb(183, 178, 178);
  }

  .footer .container .box:nth-child(2) {
    /* padding: 10px 0; */
  }

  .footer .container .box:nth-child(2) li {
    padding: 17px 17px 17px 25px;
  }

  .footer .container .box:nth-child(2) li:not(:first-child) {
    border-top: 1px solid #b7b2b26b;
  }

  .footer .container .box:nth-child(2) a {
    position: relative;
    text-decoration: none;
    color: #b7b2b2;
    display: inline-block;
    width: 100%;
    transition: 0.3s;
  }

  .footer .container .box:nth-child(2) a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    color: var(--main-color);
  }

  .footer .container .box:nth-child(2) li:hover a {
    transform: translateX(10px);
    color: white;
  }

  .footer .container .box:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .footer .container .box:nth-child(3) .line {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 15px;
    padding: 20px 0 0 0;
  }

  .footer .container .box:nth-child(3) .line i {
    color: var(--main-color);
    font-size: 25px;
  }

  .footer .container .box:nth-child(4) img {
    width: 78px;
    margin: 2px;
    border: 3px white solid;
  }

  /* End Footer */


  .end {
    position: relative;
    padding: 25px 0;
    background: #191919;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    border-top: 1px solid #b7b2b26b;
  }
